.parte1{
    text-align: center;
}

.parte2{
    
    background-color: pink;
    
    text-align: center;
}

.parte3{
    background-color: orangered ;

    text-align: center;
}

.parte4{
    text-align: center;
    border:10px lime;

}

.parte5{text-align: center;
}